@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #FBFBFF;
  color: #373737;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw; }

a {
  text-decoration: none; }

h1 {
  font-size: 32px;
  padding-bottom: 10px; }

h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px; }

.container {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  max-width: 1344px;
  width: 70%; }

.page-wrapper {
  width: 80%;
  margin: 0 auto; }

.p-text {
  color: #8D8D8D;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px; }

.btn {
  border-radius: 12px;
  padding: 15px 50px 15px 50px; }

.primary-btn {
  color: white;
  background: linear-gradient(45deg, #F16E0A, #FF8000); }
  .primary-btn .primary-btn:visited {
    color: white; }

.outline-btn {
  color: #BEBEBE;
  border: 1px solid #BEBEBE; }
  .outline-btn .outline-btn:visited {
    color: #BEBEBE; }

.text-btn {
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
  margin-top: 5px; }
  .text-btn a {
    color: #373737; }

@media screen and (max-width: 1260px) {
  .page-wrapper {
    width: 90%;
    margin: 0 auto; } }

@media screen and (max-width: 1120px) {
  .container {
    width: 80%; }
  .page-wrapper {
    width: 90%;
    margin: 0 auto; } }

@media screen and (max-width: 760px) {
  .container {
    width: 100%; }
    .container .page-wrapper {
      width: 80%;
      margin: 0 auto; } }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px; }
  nav .Nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
    font-weight: bolder; }
    nav .Nav-logo span {
      padding-top: 12px; }
  nav .Nav-links a {
    font-size: 13px;
    margin-left: 20px;
    color: #8D8D8D;
    text-decoration: none; }
    nav .Nav-links a:hover {
      color: #373737; }
  nav .Nav-btn {
    background: linear-gradient(45deg, #F16E0A, #FF8000);
    border-radius: 9px;
    color: white !important;
    padding: 10px 15px; }

.mobile-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s; }
  .mobile-nav .bar {
    background: #373737;
    margin: 2px;
    height: 2px;
    width: 20px; }

.change .bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-4px, 3px);
          transform: rotate(-45deg) translate(-4px, 3px);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.change .bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.change .bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out; }

.mobile-nav-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 90%;
  margin: 0 auto;
  -webkit-animation: slideDown .1s ease forwards;
          animation: slideDown .1s ease forwards; }
  .mobile-nav-wrapper a {
    color: #8D8D8D;
    font-size: 13px;
    padding-bottom: 20px; }
    .mobile-nav-wrapper a:hover {
      color: #373737; }

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

nav img {
  width: 90px;
  height: auto;
  margin-right: 10px; }

@media screen and (max-width: 1001px) {
  .Nav-links {
    display: none; }
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media screen and (max-width: 760px) {
  .mobile-nav-wrapper {
    width: 80%; } }

@media screen and (min-width: 1001px) {
  .mobile-nav-wrapper {
    display: none !important; } }

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/hero-shapes.jpg");
  background-size: cover;
  background-position: center;
  max-height: 700px;
  min-height: 600px;
  text-align: center; }
  .hero-wrapper .hero-info {
    width: 70%; }
    .hero-wrapper .hero-info h1 {
      color: #373737;
      font-size: 36px;
      padding-bottom: 10px; }
    .hero-wrapper .hero-info .btn-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 10px; }
      .hero-wrapper .hero-info .btn-row .primary-btn {
        margin-right: 10px; }
  .hero-wrapper .hero-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .hero-wrapper .hero-img img {
      max-width: 100%;
      height: auto; }

@media screen and (max-width: 1001px) {
  .hero-wrapper {
    min-height: 0px;
    padding-top: 150px;
    padding-bottom: 150px; }
    .hero-wrapper .hero-info {
      text-align: center; }
      .hero-wrapper .hero-info .btn-row {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
    .hero-wrapper .hero-img {
      display: none; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  background: #F6F6F6; }

.talk-rx {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center; }
  .talk-rx .icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 90px;
    grid-row-gap: 80px;
    padding-top: 40px; }
    .talk-rx .icon-wrapper .feature-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: left; }
      .talk-rx .icon-wrapper .feature-wrapper .icon {
        margin-right: 15px; }
      .talk-rx .icon-wrapper .feature-wrapper p {
        font-size: 16px; }

@media screen and (max-width: 780px) {
  .talk-rx {
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center; }
    .talk-rx .icon-wrapper {
      display: grid;
      grid-template-columns: 1fr; }
      .talk-rx .icon-wrapper .feature-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center; }
        .talk-rx .icon-wrapper .feature-wrapper .icon {
          margin-right: 0px;
          margin-bottom: 15px; }
        .talk-rx .icon-wrapper .feature-wrapper p {
          margin: 0 auto;
          width: 60%; } }

.designSection {
  padding-bottom: 80px;
  padding-top: 80px;
  background: #27293E url("../img/dot-pattern.png");
  color: white;
  text-align: center; }
  .designSection p {
    color: white; }
  .designSection .btn-row {
    margin-top: 35px;
    margin-bottom: 25px; }
  .designSection .img-wrapper {
    margin-bottom: -82px;
    padding-top: 15px; }
    .designSection .img-wrapper img {
      width: 100%;
      height: auto;
      -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.219);
              box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.219); }

@media screen and (max-width: 770px) {
  .designSection .img-wrapper {
    display: none; } }

.solutions {
  padding-bottom: 80px;
  padding-top: 80px;
  text-align: center; }
  .solutions .page-wrapper .icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    padding-top: 40px; }
    .solutions .page-wrapper .icon-wrapper .icon {
      margin-bottom: 15px; }

@media screen and (max-width: 960px) {
  .solutions .page-wrapper .icon-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px; }
    .solutions .page-wrapper .icon-wrapper .feature-info {
      width: 75%;
      margin: 0 auto; } }

.support {
  padding-bottom: 80px;
  padding-top: 80px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  background: #F6F6F6; }
  .support .support-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px; }
    .support .support-wrapper .support-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }

@media screen and (max-width: 660px) {
  .support .support-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    text-align: center; } }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }
  footer p {
    color: #8D8D8D;
    font-size: 13px;
    line-height: 20px;
    margin: 0 auto; }
    footer p span {
      color: #373737;
      cursor: pointer; }
