.designSection {
  @include sectionPadding;
  background: $dark-blue url('../img/dot-pattern.png'),;
  color: white;
  text-align: center;
  p {
    color: white;
  }
  .btn-row {
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .img-wrapper {
    
  }
}