body {
  background: #FBFBFF;
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  height: 100vh; width: 100vw;
}

a {
  text-decoration: none;  
}

h1 {
  font-size: 32px;
  padding-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}

.container {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  max-width: 1344px;
 width: 70%;
}

.page-wrapper {
  width: 80%;
  margin: 0 auto;
}

.p-text {
  color: $grey;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.btn {
  border-radius: 12px;
  padding: 15px 50px 15px 50px;
}

.primary-btn {
  color: white;    
  @include orangeGradient;
  .primary-btn:visited {
    color: white;
  }
}

.outline-btn {
    color: #BEBEBE;
    border: 1px solid #BEBEBE;
  .outline-btn:visited {
    color: #BEBEBE;    
  }
}

.text-btn {
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
  margin-top: 5px;
  a {
    color: $black;
  }
}

@media screen and (max-width: 1260px) {
  .page-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    width: 80%;
  }
  .page-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .container {
   width: 100%;
   .page-wrapper {
     width: 80%;
     margin: 0 auto;
   }
  }
}